h1 {
    color: blue;
    text-align: center;
}
#div1   {
    display: flexbox;
    align-items: center;
    justify-content: center;
    border: 2px solid orange;
    background-color: rgb(19, 24, 24);
    width: 350px;
    height: 400px;
}
#div3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 400px;
        margin-top: 0;

    }

 #one-c {
        display: flex;
        align-items: center;
        justify-content:space-between;
        flex-direction: column;
        }

        #second-c {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            }
            #third-c {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                }
                #fourth-c {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    }
#maindiv {
  
        border: 1px solid blue;
    width: 400px;
    height: 100%;  /* Ensure the body takes up the full height of the viewport */
    margin: 0;     /* Remove default margin */
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center; 
}

.btn {
    width: 75px;
    height: 70px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10%;
    }
#display {
    width: 350px;
    height: 150px;
    border: 1px solid red;
    display: flex;
    align-content: center;
    justify-content: center;
    
    background-color: white;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.div-cen {
    height: 100%;  /* Ensure the body takes up the full height of the viewport */
    margin: 0;     /* Remove default margin */
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center; 
    flex-direction: column;
    
}
body {
    text-align: center;
    margin: 0 auto;
}